<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <appSettings>
      <add key="Directory" value="[Dictionaries]" />
      <add key="Email" value="[email]" />
      <add key="PopServer" value="[pop]" />
      <add key="FileLogPath" value="log.txt" />
    </appSettings>
</configuration>
